<div class = 'form-background'>
    <%= form_for(@article, html: {multipart: true}) do |f|%>
        <%if @article.errors.any? %>
            <div class = 'error-container'>
                <ul>
                <% @article.errors.full_messages.each do |error| %>
                    <li class = 'error-message highlight-message'>
                        <%= error %>
                    </li>
                <% end %>
                </ul>
            </div>
        <% end %>

        <p>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </p>

        <p>
            <%= f.label :body %>
            <%= f.text_area :body, id: 'article-body-form'%>
        </p>

        <p>
            <%if @article.image.exists?%>
                <%= image_tag @article.image.url%>
            <%end%>
            <%= f.label :image, "Attach an Image" %>
            <%= f.file_field :image %>
        </p>


        <p>
            <%= f.label :tag_list %>
            <%= f.text_field :tag_list %>
        </p>

        <p>
            <%= f.submit %>
        </p>
    <% end %>
</div>

