<h1>
    <%= @article.title %>
</h1>

<p>
    <div class = 'tag-list'>
        <%if @article.tags.size() == 0%>
            No tags for this article
        <%else%>
            <ul>Tags:
                <%@article.tags.each do |tag|%>
                    <li><%=link_to tag.name, tag_path(tag)%></li>
                <%end%>
            </ul>
        <%end%>

    
    </div>
</p>

<p class = "content">
    <%= @article.body%>
    <%if @article.image.exists?%>
        <p><%= image_tag @article.image.url %></p>
    <%end%>

</p>

<h3>Comments (<%= @article.comments.size%>)</h3>

<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: "comments/form" %>


<%if is_author?%>
    <%= link_to "Edit Article", edit_article_path(@article), class: "edit"%>

    <%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "delete"%>
<% end %>

<%= link_to "Go Back To Home", articles_path(), class: "home"%>