<div id = 'article-top'>
    <h1 id = 'article-title'>
        <%= @article.title %>
    </h1>

    <div id = 'article-view-count'><%= "Views: #{@article.view_count}" %></div>

    <%if is_author?%>
    <%= link_to "Edit Article", edit_article_path(@article), class: "action-link"%>

    <%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "action-link"%>
<% end %>


</div>

<p class = "article-body">
    <%= @article.body%>
    <%if @article.image.exists?%>
        <p><%= image_tag @article.image.url %></p>
    <%end%>
</p>

<div class = 'item-list'>
    <%if @article.tags.size() == 0%>
        <p class = 'highlight-message'>No tags for this article</p>
    <%else%>
        <h2>Tags:</h2>
        <ul>
            <%@article.tags.each do |tag|%>
                <li class = 'bullets'><%=link_to tag.name, tag_path(tag)%></li>
            <%end%>
        </ul>
    <%end%>
</div>


<div class = 'comments-container'>
    <h2>Comments (<%= @article.comments.size%>)</h2>
    <%if logged_in?%>
        <%= render partial: "comments/form" %>
    <% end %>
    <%= render partial: 'articles/comment', collection: @article.comments %>
</div>

<%unless logged_in?%>
    <p class = 'highlight-message'>Login to post comments</p>
<% end %>    



