
<h1><%= "Proflile - #{@author.username}" %></h1>

<div class = 'item-list'>
    <ul>
        <li>
            <strong>Username:</strong>
            <%= @author.username %>
        </li>
        <li>
            <strong>Email:</strong>
            <%= @author.email %>

        </li>
    </ul>
</div>

<h3><%= "#{@author.username}'s Articles" %></h3>
<%= render partial: "shared/article_display" %>

