<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header> 
        <ul id = 'nav-bar'>

            <li><%=link_to "Home", root_path%></li>
            <li><%= link_to "Articles", articles_path%></li>
            <%if logged_in?%>
                <li><%= link_to "Authors", authors_path%></li>
            <%end%>
            <li><%= link_to "Tags", tags_path%></li>


            <%if logged_in?%>
                <li id = 'login-out'>
                    <%= link_to "Hi, #{current_user.username}", logout_path%>
                </li>
            <%else%>
                <li id = 'login-out'>
                    <%= link_to "Log in", login_path%>
                </li>
            <%end%>

    
        
        </ul>
    </header>

    <p class = "flash">
        <%= flash.notice %>
    </p>
    <%= yield %>
  </body>

  
</html>
